.section1{
   background-color: white;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(51, 50, 50);
    width: 100%;
    height: 50rem;
    color: white;
}
.containerDo{
    display: flex;
    align-items: center;
    height: 15rem;
    background-color: rgb(151, 152, 151);
    border-radius: 10rem;
}
.gridContainer{
   display: flex;
   /* background-color: rgb(255, 255, 255); */
   width: 50rem;
   justify-content: space-around;
   
}

.firstSlide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(103, 89, 133);
    width: 20rem;
    height: 10rem;
    color: white;
    border-radius: 10rem;
}

.secondSlide{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(89, 124, 133);
    width: 20rem;
    border-radius: 10rem;
    color: white;
}

.links{
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.links:hover{
    color: gray;
}

